/*************************************************************/
.spacePadding{
    padding: 0 2em 0 2em;
}
.heading{
    margin-bottom: 2.2em;
}
.heading__h1{
    font-size: 2.5em;
    font-weight: bolder;
}

.heading__form{
    border: 1px solid #c9c9c9;
    background-color: #F2F2F2;
    display: inline-block;
    border-radius: 20px;
    margin-top: 1em;
}

.heading__form--padding{
    padding: 1.3em 0 1.3em 0;
    border: none;
    outline: 0;
    font-size: 1.1em;
}

.heading__form__searchField {
    padding-left: 3em;
}

.heading__form__submit{
    display: inline-block;
    width: 10em;
    background-color: #0065FC; 
    color: #FFF;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.heading__form__searchField--placeholder::placeholder{
    font-size: 1.1em;
    font-weight: bolder;
}
.map{
    margin-left: 0.8em;
}
.heading__form--mapMarker{
    display: inline-block;
    width: 0em;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    font-size: 1.5em;
    padding-right: 2.6em;
}

/*************************************************************/
.filter{
    display: flex;
    margin-bottom: 2.5em;
}
.filter__h2{
    font-size: 2em;
    font-weight: bolder;
    padding-top: 0.1em;
}

.filter-btn{
    border: 1.9px solid #c9c9c9;
    border-radius: 30px;
    position: relative;
    width: 17em;
    height: 4em;
    margin-left: 1.7em;
}
.filter__btn--icone{
    background-color: #DEEBFF;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.6em;
    position: absolute;
    top: -0.1em;
    left: -0.1em;
    cursor: pointer;
}
.filter__btn--iconeCenter{
    padding-top: 0.9em;
    color: #0065FC;
}
.filter__btn--text{
    position: absolute;
    top: -0.5em;
    right: 1.5em;
    font-size: larger;
    font-weight: bold;
}
.filter__btn--text1{
    top: -0.5em;
    right: 2.8em;
}
.filter__btn--text2{
    top: -0.5em;
    right: 4.8em;
}
.filter__btn--text3{
    top: -0.5em;
    right: 3em;
}
/*********************************************************/

.NombreResultat{
    display: flex;
    position: relative;
}
.NombreResultat__icone{
    height: 35px;
    width: 35px;
    border-radius: 30px;
    font-size: 1.6em;
    border: 1px solid #c9c9c9;
    color: #0065FC;
    text-align: center;

}
.NombreResultat__text{
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    bottom: 0.3em;
    left: 3.6em;
}