/**********************************************************
************************************************************
*                                                          *
*            STYLE DU HEADER                               *
*                                                          *
************************************************************
***********************************************************/
header, main{
    padding: 0 2em 0 2em;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.header__logo{
    width: 15em;
    padding-top: 1.6em;
}
.header__logo > a > img{
    max-width: 50%;
}

.header__nav{
    padding-top: 1.6em;
}
.header__nav > ul{
    padding-left: 0;
    list-style: none;
    width: 20em;
    font-size: 1.3em;
    font-weight: bold;
}
.header__nav__link{
    text-decoration: none;
    color: #111;
}
.header__nav--BlueColor{
    color: #0065FC;
}






