/**********************************************************
************************************************************
*                                                          *
*                 Header Responsive                        *
*                                                          *
************************************************************
***********************************************************/
@media screen and (max-width: 600px)
{
    .navbar{
        flex-direction: column;
        margin-bottom: 2em;
        /* border-bottom: 2px solid #c9c9c9; */
    }
    .navbar-brand{
        width: 6em;
    }
    .navbar-nav{
        position: relative;
    }
    .nav-menu{ 
        /* border: 1px solid red; */
        padding-left: 0;
        padding-top: 1.3em;
        width: 100%;
    }
    .btn-outline{
        position: absolute;
        bottom: 3.5em;
        right: 0;
    }
    .barre-responsive{
        position: absolute;
        width: 100%;
        right: 0;
        height: 2px;
        background-color: #F2F2F2;
    }
    .barre{
        width: 200px;
        top: 6.25em;
        left: 0;
        z-index: 1;
    }
    /* .barre-desabled{
        display: none;
    } */
    .barre-replaced{
        width: 270px;
        height: 2px;
        background-color: #0065FC;
        position: absolute;
        transition-property: width, right;
        transition-duration: 0.5s
    }
    .nav-menu-item-barre-active:hover > .barre{
        width: 100%;
        right: 7.95em;
        border-bottom: 0.5px solid #0065FC;
    }
    .navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    }
}
@media screen and (max-width: 390px)
{
    .nav-menu{
        font-size: 1em;
    }
    .navbar-brand{
        width: 5em;
    }
    
    .btn-outline{
        font-size: 0.96em;
        bottom: 3.6em;
    }
    .barre{
        width: 150px;
        top: 7.15em;
        border-bottom: 1px solid #0065FC;
    }
    .barre-replaced{
        width: 45px;
    }
}
@media screen and (max-width: 330px)
{
    .nav-menu{
        font-size: 1em;
    }
    .navbar-brand{
        width: 4em;
    }
    
    .btn-outline{
        font-size: 0.8em;
        bottom: 4.3em;
    }
}