footer > nav{
    background-color: #F2F2F2;
    display: flex;
    padding: 2.4em 0 2.4em 0;
}
.footer-quick-links{
    margin-left: 4em;
    margin-right: 15em;
}
.footer-link-title{
    font-size: 1.7em;
    font-weight: bolder;
}
.footer-list-link{
    list-style: none;
    padding-left: 0;
    line-height: 2.2em;
}
.footer-list-link > li > a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}