/*************************************************************/
.spacePadding{
    padding: 0 2em 0 2em;
}
.search-widgets{
    margin-bottom: 2.2em;
}
.search-widgets-h1{
    font-size: 2.5em;
    font-weight: bolder;
}
.search-widgets-h5{
    margin-bottom: 1.5em;
}
.form-row{
    display: inline-block;
    border: 0.1px solid #c9c9c9;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.form-input{
    padding-top: 1.5em;
    padding-bottom: 1.3em;
    border: none;
}
.form-input::placeholder{
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
}
.form-label{
    padding-left: 1.2em;
    padding-right: 1.2em;
}
.form-map-icone{
    font-size: larger;
}
.form-btn-submit{
    display: none;
}
.form-submit{
    background-color: #0065FC;
    font-weight: bolder;
    color: #FFF;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    padding: 1.7em 1.6em 1.3em 1.6em;
    border: none; 
}

/*********************************Système de filtrage****************************/
.filter-widgets{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5em;
}
.filter-widgets-h2{
    font-size: 2em;
    font-weight: bolder;
    padding-top: 0.1em;
}
.filter-widgets-btns{
    display: flex;
    flex-wrap: wrap;

}
.filter-widgets-btn{
    border: 1.9px solid #c9c9c9;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 30px;
    position: relative;
    width: 17em;
    height: 4em;
    margin-left: 1.7em;
    margin-bottom: 1em;
}
.filter-widgets-btn:hover{
    background-color: #E7EFFC;
}
.filter-widgets-icone-bg{
    background-color: #DEEBFF;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.6em;
    position: absolute;
    top: -0.1em;
    left: -0.1em;
    cursor: pointer;
}
.filter-widgets-icone{
    padding-top: 0.9em;
    color: #0065FC;
}
.filter-widgets-btn-text{
    position: absolute;
    top: -0.5em;
    right: 1.5em;
    font-size: larger;
    font-weight: bold;
}
.filter-widgets-btn-text1{
    top: -0.5em;
    right: 2.8em;
}
.filter-widgets-btn-text2{
    top: -0.5em;
    right: 4.8em;
}
.filter-widgets-btn-text3{
    top: -0.5em;
    right: 3em;
}
/*********************************************************/

.result-number{
    display: flex;
    position: relative;
}
.result-number-icone{
    height: 35px;
    width: 35px;
    border-radius: 30px;
    font-size: 1.6em;
    border: 1px solid #c9c9c9;
    color: #0065FC;
    text-align: center;

}
.result-number-text{
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    bottom: 0.3em;
    left: 3.6em;
}
